/* Universal Selectors */
/* * {
background-color: white
    
} */

/* Element Selectors */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    padding: 20px;
    background-color: #3b3f41;
    /* color: #ffffff; */
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 {
    color: #3b3f41;
}

header nav {
    padding-top: 40px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}


h1 {
    background-color: rgb(149, 203, 212);
    display: inline-block;
    padding: 15px
}

/* Hero Image Style */

.hero {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../Screenshot\ 2021-03-16\ 210755.png");
    background-repeat: repeat;
}

/* Text Styles */

a {
    color: rgb(164, 210, 218);
    text-decoration: underline;
}

/* Class Selectors */
/* .navtop {
    display: inline-block;
    text-align: right;
    color: rgb(11, 62, 71);

} */

.navbot {
    display: inline;
}
/* Id Selectors */

/*  */